<html>
<head>
	<title>Registration</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<h1 class="text-center">New User Registration</h1>
		<b>New User register here</b>
		<form method="POST" action="#">
		<div >
			Name:<input type="text" name="name" class="form-control" id="name">
			Email:<input type="email" name="email" class="form-control" id="email">
			<button type="submit" class="button">Submit</button>
		</div>
		</form>
	</div>
</body>
</html>
