<html>
<head>
	<title>Edit Hospital Profile</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<h1>Edit Hospital Profile</h1>
			<% if @array %>
				<% @array.each do |x| %>
					<% if x=='respond_to_patient_requests' %>
						<h4><button><%= link_to 'Pespond to Patient Requests', respond_to_patient_requests_path %></button></h4>
					<% elsif x=='manage_medical_profile' %>
						<h4><button><%= link_to 'Manage Medical Profile', manage_medical_profile_path %></button></h4>
					<% elsif x=='edit_hospital_profile' %>
						<h4><button><%= link_to 'Add New Members', add_new_members_path %></button></a></h4>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
</body>
</html>

