<h1>Respond to patient requests</h1>
<% if @array %>
	<% @array.each do |x| %>
		<% if x=='manage_medical_profile' %>
			<h4><button><%= link_to 'Manage Medical Profile', manage_medical_profile_path %></button></h4>
		<% elsif x=='edit_hospital_profile' %>
			<h4><button><%= link_to 'Edit Hospital Profile', edit_hospital_profile_path %></button></h4>
		<% elsif x=='add_new_members' %>
			<h4><button><%= link_to 'Add New Members', add_new_members_path %></button></a></h4>
		<% end %>
	<% end %>
<% end %>